
.register{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}.form_1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:#1a1a1a;
    padding: 20px;
    max-width: 350px;
    border-radius: 20px;
    position: relative;
    color: #ffffff;
    border: 1px solid #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #ff0095;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #ff0095;
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline rgb(235, 76, 163);
  }
  
  .signin a {
    color: #ff0095;
  }
  
  .flex {
   
    display: flex;
    width: 100%;
    gap: 8px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input { 
    background-color: #333;
    color: #fff;
    width: 100%;
    /* padding: 20px 05px 05px 10px; */
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  /* .form label .input + span {
    color: rgba(82, 75, 75, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  } */
  
  /* .form label .input:placeholder-shown + span {
    padding-left: 8px;
    top: 12.5px;
    font-size: em;
  } */
  
  /* .form label .input:focus + span,
  .form label .input:valid + span {
    color: #ff0095;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  } */
  
  .input {
    font-size: medium;

  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #ff0095;
  }
  
  .submit:hover {
    background-color: #da0380;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  input.input {
    padding-left: 8px;
    width: 85%;
    margin: 10px;
    padding: 0px;
   }