.ig{
    position: relative;
    margin: 2px;
   }
   
   .i {width:100% ;
    border: solid 1.5px #e7e7e7;
    border-radius: 1rem;
    background: rgb(243, 243, 243);
    padding: 1rem;
    font-size: 1rem;
    color: #5e5d5d;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .ul {
    position: absolute;
    left: 15px;
    color: #5f5f5f;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .i:focus, i:valid {
    outline: none;
    border: 1.5px solid #ff407D;
   }
   
   .i::placeholder-text, i:valid ::placeholder-text {
    transform: translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
    color: #ff407D;
   }